<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.koreait.dbms_study.mapper.UserMapper">

    <!--1,Mapper에 있는거 끌어서 SQL을 여기서 구현-->

    <insert id="insert">
        insert into
            user_tb
        values (0, #{username}, #{email}, now(), now());
    </insert>

    <select id="getUserList">
        select
            *
        from
            user_tb
    </select>

    <select id="getUserByUserId">
        select
            *

        from
            user_tb

        where
            user_id = #{userID};
    </select>
<!--  *3, 수정할거니까, 업데이트 있어야함-->
        <update id="editUser">
        update
            user_tb
        set
            username = #{username},
            email = #{email},
            update_dt = now()
        where
            user_id = #{userId}
<!-- 수정을 할건데, user_tb에서,
     조건은 내가 준 user_id랑 일치해야하고,
     그 항목에서 내가 새로 준 username과 email을 줄거고..
     수정될거니 update_dt도 수정될 것임.
     *4 -> 다음은 UserMapper(인터페이스)로
     -->

</update>
    <delete id="removeUser">
    delete from
        user_tb
    where
        user_id = #{userId}

    </delete>


</mapper>